<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.bpy.electronics.mc6809.menu.run:endof">
         <menu
               id="org.bpy.electronics.mc6809.menu.externaltools"
               label="External tools">
            <command
                  commandId="org.bpy.electronics.mc6809.externaltools.ui.calculator"
                  label="Calculator"
                  style="push">
               <visibleWhen>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bpy.electronics.mc6809.externaltools.ui.configure"
                  label="Configure External Tools"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.bpy.electronics.mc6809.externaltools.ui.configure"
            name="External tool configurations">
      </command>
      <command
            id="org.bpy.electronics.mc6809.externaltools.ui.calculator"
            name="Calculator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bpy.electronics.mc6809.externaltools.ui.handlers.ConfigureExternalToolHandler"
            commandId="org.bpy.electronics.mc6809.externaltools.ui.configure">
      </handler>
      <handler
            class="org.bpy.electronics.mc6809.externaltools.ui.handlers.ExecuteExternalCalculatorHandler"
            commandId="org.bpy.electronics.mc6809.externaltools.ui.calculator">
      </handler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/ext_tools_wiz.png"
            category="org.eclipse.ui.externaltools.launchGroup"
            id="org.bpy.electronics.mc6809.rcp.externalToolGroup"
            image="icons/external_tools.png"
            label="Run"
            mode="run">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            allowCommandLine="false"
            category="org.eclipse.ui.externaltools"
            delegate="org.bpy.electronics.mc6809.externaltools.ui.launch.ExternalToosDelegate"
            id="org.bpy.electronics.mc6809.externaltools.ui.launchConfigurationType"
            modes="run"
            name="LWTools assembler">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.bpy.electronics.mc6809.externaltools.ui.launch.LaunchConfigurationTabGroupLwTools"
            id="org.bpy.electronics.mc6809.externaltools.ui.launchConfigurationTabGroupLwTools"
            type="org.bpy.electronics.mc6809.externaltools.ui.launchConfigurationType">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.bpy.electronics.mc6809.externaltools.ui.launchConfigurationType"
            icon="icons/AssemblerTool.png"
            id="org.bpy.electronics.mc6809.externaltools.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.bpy.electronics.mc6809.assembler.Assembler"
            class="org.bpy.electronics.mc6809.externaltools.ui.preferences.ExternalToolPreferenceMainPage"
            id="org.bpy.electronics.mc6809.externaltools.ui.externalToolPreference"
            name="External tool">
      </page>
      <page
            category="org.bpy.electronics.mc6809.externaltools.ui.externalToolPreference"
            class="org.bpy.electronics.mc6809.externaltools.ui.preferences.ExternalToolPreferencePage"
            id="org.bpy.electronics.mc6809.externaltools.ui.page2"
            name="Path of the calculator">
      </page>
      <page
            category="org.bpy.electronics.mc6809.externaltools.ui.externalToolPreference"
            class="org.bpy.electronics.mc6809.externaltools.ui.preferences.LWToolPreferencePage"
            id="org.bpy.electronics.mc6809.externaltools.ui.lwtools"
            name="LWTools">
      </page>
   </extension>

</plugin>
