<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.bpy.electronics.mc6809.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bpy.electronics.mc6809.rcp.Perspective"
            id="6809.perspective"
            name="MC6809">
      </perspective>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bpy.electronics.mc6809.rcp.application"
            name="org.bpy.electronics.mc6809.rcp">
         <property
               name="appName"
               value="org.bpy.electronics.mc6809.rcp">
         </property>
         <property
               name="applicationXMI"
               value="org.bpy.electronics.mc6809.rcp/Application.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         id="org.bpy.electronics.6809.project"
         name="6809 project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.bpy.electronics.mc6809.rcp.project.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.bpy.electronics.mc6809.rcp.preferences.MainPreferencePage"
            id="org.bpy.electronics.mc6809.rcp.mainpage"
            name="6809 toolkit">
      </page>
      <page
            category="org.bpy.electronics.mc6809.rcp.mainpage"
            class="org.bpy.electronics.mc6809.rcp.preferences.FormattingPreferences"
            id="org.bpy.electronics.mc6809.rcp.preference.formatting"
            name="Formatting">
      </page>
   </extension>

</plugin>
