<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.bpy.electronics.mc6809.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bpy.electronics.mc6809.rcp.Perspective"
            id="6809.perspective"
            name="MC6809">
      </perspective>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bpy.electronics.mc6809.rcp.application"
            name="MC6809 Toolkit">
         <property
               name="appName"
               value="MC6809 Toolkit">
         </property>
         <property
               name="applicationXMI"
               value="org.bpy.electronics.mc6809.rcp/Application.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
