<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.bpy.electronics.mc6809.preferences.core.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.bpy.electronics.mc6809.assembler.Assembler"
            class="org.bpy.electronics.mc6809.preferences.ui.FormattingPreferences"
            id="org.bpy.electronics.mc6809.rcp.preference.formatting"
            name="Formatter">
      </page>
   </extension>

</plugin>
